<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Create A Message</title>
</head>

<body>
    <% if (locals.user) { %>
        <form action="/create-message" method="post">
            <label for="msg">Message: </label>
            <div><textarea name="msg" id="msg" placeholder="Enter anonymous message here"></textarea></div>
            <button type="submit">submit</button>
        </form>
        <%} else {%>
            <p>sign in to view this page</p>
            <%}%>
</body>

</html>